@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.main {
  padding-top: 52px;
  margin: 0 8%;
}

.main .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main .header .icon-container .icon {
  font-size: 52px;
}

.main .header button {
  background-color: transparent;
  width: 210px;
  height: 45px;
  font-size: 18px;
  box-shadow: inset 3px 3px 1px #38a3a5, inset -3px -3px 1px #38a3a5;
  border: none;
  text-transform: uppercase;
  color: #38a3a5;
  transition: .2s;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
}

.main .header button:hover {
    color: white;
    background: #38a3a5;
}

@media (min-width: 1500px) {
    .main {
        margin: 0 12%;
    }
}